################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.gitignore
/.vs
/Zander
/x64/Debug
/obj
*.config
*.pdb
*.manifest
*.ini
*.sarif
*.obj
*.pdb
*.ilk
*.tlog
*.log
*.recipe
*.txt